<div class="twitter">

<a class="twitter-timeline" data-lang="el" data-theme="dark" href="https://twitter.com/p16bouk">Tweets by p16bouk</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:300px;">
    
    <a class="a2a_button_twitter"></a
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>


<script async src="https://static.addtoany.com/menu/page.js"></script>

</div>
